# Langchain ecosystem
langchain
langchain-core
langchain-community
langchain-google-genai
langchain-openai
langgraph

# Backend core
asyncpg
sqlalchemy
uvicorn
fastapi
pydantic
python-dotenv
psycopg2-binary
pydantic-settings
